@{
    ViewData["Title"] = "Home Page";
}
<section class="banner">

    <img src="~/images/banner.jpg" alt="Mega Promoção">

    </section>

    <section class="slogan">

        <p>Tudo do bom e mais barato</p>

        <h1>Confira!</h1>

    </section>

    <section class="categoria">

        <h2>MONTE SEU PC</h2>

        <div class="produtos">

            <div class="produto-card">
                <img src="~/images/produtos/cpu-amd.png">
                    <span>R$</span>
                </div>

                <div class="produto-card">
                    <img src="~/images/produtos/gpu.png">
                        <span>R$</span>
                    </div>

                    <div class="produto-card">
                        <img src="~/images/produtos/ssd.png">
                            <span>R$</span>
                        </div>

                        <div class="produto-card">
                            <img src="~/images/produtos/cpu-intel.png">
                                <span>R$</span>
                            </div>

                        </div>

                    </section>

                    <section class="categoria">

                        <h2>PERIFÉRICOS / OUTROS</h2>

                        <div class="produtos">

                            <div class="produto-card">
                                <img src="~/images/produtos/teclado.png">
                                    <span>R$</span>
                                </div>

                                <div class="produto-card">
                                    <img src="~/images/produtos/placamae.png">
                                        <span>R$</span>
                                    </div>

                                    <div class="produto-card">
                                        <img src="~/images/produtos/headset.png">
                                            <span>R$</span>
                                        </div>

                                        <div class="produto-card">
                                            <img src="~/images/produtos/controle.png">
                                                <span>R$</span>
                                            </div>

                                            <div class="produto-card">
                                                <img src="~/images/produtos/rgb.png">
                                                    <span>R$</span>
                                                </div>

                                                <div class="produto-card">
                                                    <img src="~/images/produtos/fone.png">
                                                        <span>R$</span>
                                                    </div>

                                                    <div class="produto-card">
                                                        <img src="~/images/produtos/monitor.png">
                                                            <span>R$</span>
                                                        </div>

                                                        <div class="produto-card">
                                                            <img src="~/images/produtos/gabinete.png">
                                                                <span>R$</span>
                                                            </div>

                                                            <div class="produto-card">
                                                                <img src="~/images/produtos/mouse.png">
                                                                    <span>R$</span>
                                                                </div>

                                                                <div class="produto-card">
                                                                    <img src="~/images/produtos/notebook.png">
                                                                        <span>R$</span>
                                                                    </div>

                                                                </div>

                    </section>

