# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/
**/bin/
**/obj/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Rider/IDE
.idea/
*.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Others
*.vsix