<footer>

    <div class="footer-container">

        <div class="footer-box">

            <h2>ByteTech</h2>

            <p>
                Os melhores produtos de informática.
            </p>

        </div>

        <div class="footer-box">

            <h2>Institucional</h2>

            <a href="#">Quem Somos</a>

            <a href="#">Contato</a>

            <a href="#">Suporte</a>

        </div>

        <div class="footer-box">

            <h2>Minha Conta</h2>

            <a asp-controller="Usuario"
               asp-action="Login">

                Login

            </a>

            <a asp-controller="Usuario"
               asp-action="Registro">

                Criar Conta

            </a>

        </div>

    </div>

    <div class="copyright">

        © 2026 ByteTech

    </div>

</footer>