<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - ByteTech</title>

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <partial name="_Header" />

    <partial name="_Navbar" />

    <main>

        @RenderBody()

    </main>

    <partial name="_Footer" />

    <script src="~/js/menu.js"></script>
    <script src="~/js/carousel.js"></script>

</body>

</html>