<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hyper Speed</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>

        <div class="top-bar">

            <div class="logo">
                <img src="~/images/logo.png" alt="Hyper Speed">
                </div>

                <div class="search">
                    <input type="text" placeholder="Pesquisa">
                </div>

                <div class="account">
                    CONTA ★ FAVORITOS
                </div>

            </div>

            <nav>

                <a href="#">☰</a>
                <a href="#">CARRINHO</a>
                <a href="#">MONTE SEU PC</a>
                <a href="#">DEPARTAMENTOS</a>
                <a href="#">PERIFÉRICOS</a>
                <a href="#">PROMOÇÕES</a>

            </nav>

        </header>

        <main>
            @RenderBody()
        </main>

        <footer>

            <div class="footer-container">

                <div class="footer-box">
                    <h2>AJUDA</h2>

                    <a href="#">Fale conosco</a>
                    <a href="#">Políticas e Privacidade</a>
                    <a href="#">Termos de Aceite</a>
                </div>

                <div class="footer-box">
                    <h2>DÚVIDAS</h2>

                    <a href="#">Entrega</a>
                    <a href="#">Garantia</a>
                    <a href="#">Como pagar</a>
                </div>

                <div class="footer-box">
                    <h2>PAGAMENTO</h2>

                    <p>PIX</p>
                    <p>VISA</p>
                    <p>MASTERCARD</p>
                    <p>BOLETO</p>
                </div>

            </div>

            <div class="copyright">
                © Desenvolvido por Lightning Tech - TI31
            </div>

        </footer>

    </body>
</html>