/*==============================
        PRODUTOS ADMIN
===============================*/

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.admin-search {
    margin-bottom: 25px;
}

    .admin-search input {
        width: 100%;
        max-width: 450px;
        padding: 14px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
    }

.produto-admin-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background: white;
    border-radius: 8px;
    padding: 5px;
}

.btn-editar {
    background: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 8px;
}

    .btn-editar:hover {
        background: #0063cc;
    }

.btn-excluir {
    background: #c62828;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}

    .btn-excluir:hover {
        background: #9b1d1d;
    }

.admin-table td {
    vertical-align: middle;
}
